html, body {
	background-color: #fff;
}
#facebook {
	margin: 30px 0 50px 55px;
	width: 150px;
	height: 30px;
}
.container {
	width: 300px;
	height: 220px;
}
#makeawish {
	margin: 100px 0 0 50px;
	width: 763px;
	height: 108px;
}
#site_logo {
	margin-bottom: 45px;
}
/* The white background content wrapper */
.container > .content {
	background-color: #fff;
	position: absolute;
	padding: 25px 50px 15px 10px;
	margin: 0 -20px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: 1px solid #003999;
}
.clearfix {
	margin: 6px 0 6px 0;
}
.login-form {
	margin-left: 60px;
}
#login {
	font-family: Verdana;
	font-size: 12px;
	color: black;
	padding: 6px 9px;
	background: -moz-linear-gradient(
	top,
	#7fdbeb 0%,
	#058a8a);
	background: -webkit-gradient
	( linear, left top, left bottom,
	from(#ffffff), to(#ffffff));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #013140;
	-moz-box-shadow: 0px 1px 3px rgba(012,013,013,0.5), inset 0px 0px 2px rgba(090,115,214,1);
	-webkit-box-shadow: 0px 1px 3px rgba(012,013,013,0.5), inset 0px 0px 2px rgba(090,115,214,1);
}
h2 {
	font-family: Verdana;
	font-size: 18px;
	text-align: center;
	color: #003999;
}
legend {
	margin-right: -50px;
	font-weight: bold;
	color: #404040;
}
#overLayer {
	display: none;
	z-index: 99999;
	width: 400px;
	height: 300px;
	background: white;
	padding: 0px;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 6px solid #FFAE35;
	-webkit-border-radius: 10px;
	margin-top: -75.5px;
	margin-left: -278.5px; 
}
* html #overLayer {
	position: absolute;
}
#glayLayer {
	display: none;
	position: fixed;
	z-index: 99998;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	filter: alpha(opacity=75);
	opacity: 0.5;
}
* html #glayLayer {
	position: absolute;
}
div#ShowContents {
	height: 300px;
	padding: 20px 10px;
}

#message{
	height: 100px;
	width:100px;
}
.hukidashi {
	position: absolute;
	color: white;
	top: -20px;/*この値とEndPの値を合わせてください */
	left: 400px;
	width: 150px;
	height: 150px;
	border-radius: 80px 80px 0 80px;
	text-align: center;
	background-color: blue;
	display: none;
}
.section2 span{
	background: #ffc;
	border: 1px solid #fc6;
	height: 45px;
	position: absolute;
	top: -85px;
	left: 0;
	text-align: center;
	padding: 20px 12px 10px;
	z-index: 2;
	display: none;
}
.section3 span{
	background: #ffc;
	border: 1px solid #fc6;
	height: 45px;
	position: absolute;
	top: -85px;
	left: 0;
	text-align: center;
	padding: 20px 12px 10px;
	z-index: 2;
	display: none;
}
.section4 span{
	background: #ffc;
	border: 1px solid #fc6;
	height: 45px;
	position: absolute;
	top: -85px;
	left: 0;
	text-align: center;
	padding: 20px 12px 10px;
	z-index: 2;
	display: none;
}
.person_pic{
	width:80px;
	height:94px;
	float: left;
	margin-right:5px;
}
.item_pic{
	float: left;
	margin-right:5px;
}
#nakami {
	font-size: 20px;
	vertical-align: middle;
	line-height: 90px;
	font-family: 'メイリオ';
}
/*.tooltip {
	margin: 100px 0 0;
	list-style: none
}*/
/*.tooltip{
	margin: 0 10px;
	float: left;
	position: relative;
	text-align: center;
}*/
/*.tooltip a {
	padding: 14px 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	width: 200px;
}*/
