<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link rel="stylesheet" href="bootstrap.css" type="text/css">
		<link rel="stylesheet" href="book_register.css" type="text/css">
	</head>

	<body>
		<header>
			<img id="hondey" src="Hondey_img.png">
			<img id="person_header" src="http://a8.sphotos.ak.fbcdn.net/hphotos-ak-snc7/432212_10150862223883356_563648355_12947919_158291793_n.jpg">
			<div id="hello">
				Hi, Taku!
			</div>
		</header>

		<div id="section-x">
			はじめにお気に入りの本を5冊登録します。検索した後、本をドラッグして、ボックスにドロップしてください。
		</div>

		<div class="section1">
			<img id="person" src="http://a8.sphotos.ak.fbcdn.net/hphotos-ak-snc7/432212_10150862223883356_563648355_12947919_158291793_n.jpg">
			<form>
				<input id="searchbox1" type="search" autosave="bsn_srch" results="5" name="searchbox" placeholder="search">
			</form>
		</div>

		<div class="section2">

			<div class="box">
				<img class="x-button" src="x-button.png">
				<div class="book-box">
					<img class="book" src="book.jpg">
					<div class="drop-here">
						drop here
					</div>
				</div>
			</div>

			<div class="box">
				<img class="x-button" src="x-button.png">
				<div class="book-box">
					<img class="book" src="book.jpg">
					<div class="drop-here">
						drop here
					</div>
				</div>
			</div>

			<div class="box">
				<img class="x-button" src="x-button.png">
				<div class="book-box">
					<img class="book" src="book.jpg">
					<div class="drop-here">
						drop here
					</div>
				</div>
			</div>

			<div class="box">
				<img class="x-button" src="x-button.png">
				<div class="book-box">
					<img class="book" src="book.jpg">
					<div class="drop-here">
						drop here
					</div>
				</div>
			</div>

			<div class="box">
				<img class="x-button" src="x-button.png">
				<div class="book-box">
					<img class="book" src="book.jpg">
					<div class="drop-here">
						drop here
					</div>
				</div>
			</div>
			<input class="button" type="submit" value="Finish">
		</div>
		<div class="section3">
			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41VprtIHVfL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41CK144784L._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/51ajKFc0AWL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/51f3OHIbX-L._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/311DUyWJtFL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41sP%2BYcBX%2BL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41%2Bu20pYeVL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41NEov1YACL._SL500_SL135_.jpg"></a>

		</div>

	</body>
