<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hondey</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="bootstrap.css" rel="stylesheet">
		<link href="login.css" rel="stylesheet">
		<style type="text/css">
			/* Override some defaults */

		</style>

	</head>
	<body>
		<div id="main">
			<div id="people-all">
				<img class="people" src="people.png">
				<img class="people" src="people2.png">
				<img class="people2" src="people3.png">
			</div>
			<img id="hondey-top" src="Hondey_img.png">
			<div id="subtitle">
				Have a deeper conversation.
			</div>
			<div id="subtitle2">
				Welcome to
			</div>
			<a href="#"><img id="facebook" src="facebook.jpg"></a>
		</div>
		<footer>
			<img id="footer" src="book-top7.jpg">
		</footer>
	</body>
</html>