<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link rel="stylesheet" href="bootstrap.css" type="text/css">
		<link rel="stylesheet" href="top_page.css" type="text/css">
	</head>

	<body>
		<header>
			<a href="top_page.html"><img id="hondey" src="Hondey_img.png"></a>
			<img id="person_header" src="http://a8.sphotos.ak.fbcdn.net/hphotos-ak-snc7/432212_10150862223883356_563648355_12947919_158291793_n.jpg">
			<div id="hello">
				Hi, Taku!
			</div>
		</header>

		<div class="section0">
			<div id="myself">
				<a href="#">Taku</a>
			</div>
			<div id="friend">
				<a id="myself" href="#">Friends</a>
			</div>
			<div id="book">
				<div id="book-box1">
					<img id="book-picture" src="book.jpg">
					<div class="drop-here">
						drop here
					</div>
				</div>
				<form>
					<input id="searchbox1" type="search" autosave="bsn_srch" results="5" name="searchbox" placeholder="search">
				</form>
			</div>
			<div id="arrow">
				<img id="arrow1" src="arrow.png">
			</div>
			<div id="whom">
				<div id="whom-box1">
					<img id="person-picture" src="person.png">
					<div class="drop-here">
						drop here
					</div>
				</div>
				<form>
					<input id="searchbox2" type="search" autosave="bsn_srch" results="5" name="searchbox" placeholder="search">
				</form>
			</div>
		</div>

		<div class="section2">

			<div id="favorite-box">
				<img id="favorite" src="star.jpg">

				<div id="favorite2">
					fav
				</div>
			</div>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41tFzlyY%2BgL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ec2.images-amazon.com/images/I/41Pt92sXiPL._SL500_AA300_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41nFie6UXnL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41FCPB7A3WL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41N453KNDRL._SL500_SL135_.jpg"></a>

		</div>

		<div class="section3">

			<div id="conversation-box">
				<img id="conversation" src="balloon.png">

				<div id="conversation2">
					talks
				</div>
			</div>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41VprtIHVfL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41CK144784L._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/51ajKFc0AWL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/51f3OHIbX-L._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/311DUyWJtFL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41sP%2BYcBX%2BL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41%2Bu20pYeVL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/41NEov1YACL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/51dbHwNcUdL._SL500_SL135_.jpg"></a>

			<a href="#"><img id="product" src="http://ecx.images-amazon.com/images/I/31x5r5hkA-L._SL500_SL135_.jpg"></a>

		</div>

		<div class="section4">

			<div>
				<img id="friend_list" src="friends.png">
				<div id="friend1">
					friends
				</div>
			</div>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/573883_100000952140302_674317697_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41528_563648355_812517173_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371720_100000086823748_253983685_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/369111_1387043582_869105560_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/574017_100000822608201_1118496216_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/273943_1447045074_85540671_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/203198_1722091453_6311666_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/157657_687435424_1900532901_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274843_539202569_3086009_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/573718_100001543455692_1928314305_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274029_617532989_4501306_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/275655_1514622479_2017422952_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161667_36922370_734056020_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/275754_830478655_2207282_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/369072_611186328_1538470109_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/565235_100000481652841_1357804323_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/161438_100001470798520_1266577946_n.jpg"></a>

			<a href="#"><img id="person" src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/573367_100001793992247_702462153_n.jpg"></a>

		</div>

	</body>

</html>
