<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>make A wish｜Login</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/Login4.css" rel="stylesheet">
		<style type="text/css">
			/* Override some defaults */

		</style>

	</head>
	<body>
		<a id="makeawish" href="#"> <img id="site_logo" src="img/makeawish31.jpg"  height="50px" width="270px"/> </a>
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="login-form">
						<h2>Login</h2>
						<form action="">
							<fieldset>
								<div class="clearfix">
									<input type="text" placeholder="Username">
								</div>
								<div class="clearfix">
									<input type="password" placeholder="Password">
								</div>
								<button class="btn primary" type="submit">
									Sign in
								</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->
	</body>
</html>